<div id="app-container" fxLayout>
  <mat-sidenav-container id="app-sidebar-container" fxLayout>
    <mat-sidenav #sidenav mode="side" id="sidebar" fxLayout
                 fxLayout.xs="column">
      <button mat-raised-button class="side-btn" color="primary" routerLink="/drinks" (click)="sidenav.toggle()">
        Drinks
      </button>
      <button mat-raised-button class="side-btn" color="accent" routerLink="/profile" (click)="sidenav.toggle()">
        Profile
      </button>
      <button mat-raised-button class="side-btn" routerLink="/login" (click)="sidenav.toggle()">
        Log In
      </button>
      <button mat-raised-button *ngIf="isLoggedIn" class="side-btn" (click)="logout()" (click)="sidenav.toggle()">
        Log Out
      </button>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div id="sidebar-toggler">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="expand sideNav">list</mat-icon>
        </button>
        <div><h1>{{title}}</h1></div>
      </div>
      <div id="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
