<mat-card id="auth-page">
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <div id="login-form">
      <mat-form-field class="form-group">
        <input
          matInput
          formControlName="username"
          placeholder="Username"
          type="text" />
      </mat-form-field>
      <mat-form-field class="form-group">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password" />
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">
        {{ title }}
      </button>
    </div>
  </form>
</mat-card>
